.deals{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    padding-top: 3rem;
}

.great_gift{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: rgba(247, 138, 99, 0.878);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 95%;
    height: 180px;
    overflow: hidden;
    border-radius: 10px;
}
.great_gift h1{
    font-size: 5rem;
}
.great_gift p{
    border-radius: 50%;
    background-color: rgb(15, 206, 126);
    padding: 2rem 2.5rem;
    text-align: center;
    font-weight: bold;
    position: relative;
    bottom: 3rem;
    right: 3rem;
}
.great_gift h2{
    font-size: 2rem;
}
.link{
    display: flex;
    gap: 1rem;
    text-decoration: underline;
    text-underline-offset: 2px;
    margin: 0.5rem;
    color: rgb(56, 52, 52);
  
}
.link li:hover{
    border-color: black;
}
.link li{
    border-bottom: 1px solid transparent;
    padding-bottom: 0.8px;
}

.container_image{
    width: 95%;
    height: 600px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.container_small_image{
    width: 95%;
    height: 200px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.image_offer{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}